# Java #
*.class

# Eclipse #
*.classpath
*.metadata
*.checkstyle
/build/
/bin/
.setting/
local.properties

# Files #
*.war
*.ear
*.db
*.7z
*.dmg
*.gz
*.iso
*.rar
*.tar
*.zip
*.pdf
*.swp
*.bak
*.log
*~
